//This place for future Rent!*/
//Will Module Rules
//As briefly mentioned in the previous section,
//a Module is a more discrete component of the page.
//It is your navigation bars and your carousels and your dialogs and
//your widgets and so on. This is the meat of the page. Modules sit inside
//Layout components. Modules can sometimes sit within other Modules, too.
//Each Module should be designed to exist as a standalone component.
//In doing so, the page will be more flexible. If done right,
//Modules can easily be moved to different parts of the layout without breaking.
//
/*color schemes:
#C5C1C0 screen
#0A1612 steel
#1A2930 denim
#F7CE3E marigold*/


.myNav li {
  color: #F7CE3E;
  display: inline-block;
  text-decoration: none;
  /*border: 5px solid orange;*/
  float: right;
  padding: 1em;
}
